@font-face {
  font-family: G-Roboto-n4;
  src: url('../data/fonts.gstatic.com_s_roboto_v16_W5F8_SL0XFawnjxHGsZjJA.ttf');
}
@font-face {
  font-family: G-Roboto-n9;
  src: url('../data/fonts.gstatic.com_s_roboto_v16_H1vB34nOKWXqzKotq25pcg.ttf');
}
@font-face {
  font-family: G-Roboto-n7;
  src: url('../data/fonts.gstatic.com_s_roboto_v16_bdHGHleUa-ndQCOrdpfxfw.ttf');
}
@font-face {
  font-family: G-Roboto-n3;
  src: url('../data/fonts.gstatic.com_s_roboto_v16_dtpHsbgPEm2lVWciJZ0P-A.ttf');
}
@font-face {
  font-family: G-Roboto-n5;
  src: url('../data/fonts.gstatic.com_s_roboto_v16_Uxzkqj-MIMWle-XP2pDNAA.ttf');
}
@font-face {
  font-family: G-Roboto-i4;
  src: url('../data/fonts.gstatic.com_s_roboto_v16_hcKoSgxdnKlbH5dlTwKbow.ttf');
}
@font-face {
  font-family: G-Roboto-i5;
  src: url('../data/fonts.gstatic.com_s_roboto_v16_daIfzbEw-lbjMyv4rMUUTqCWcynf_cDxXwCLxiixG1c.ttf');
}